#!/bin/bash

SCHEMAS_SQL="SELECT schema_name FROM information_schema.schemata WHERE schema_name NOT IN ('mysql','information_schema','performance_schema', '{{ dba_toolkit_install_procedures_schema | default('dba') }}')"

DB_LIST_FILE="/tmp/schemas-list.txt"

mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} $@ -ANe "${SCHEMAS_SQL}" > ${DB_LIST_FILE}

DB_LIST="information_schema"  # Defensiveness in case none of the schema's have triggers / routines
for DB in `cat ${DB_LIST_FILE}` ; do
        ROUTINES_SQL="SELECT COUNT(*) FROM information_schema.ROUTINES WHERE ROUTINE_SCHEMA='${DB}'"
        ROUTINES_COMMAND="mysql $@ -Bse \"${ROUTINES_SQL}\""
        ROUTINES_RESULT="$(eval $ROUTINES_COMMAND)"

        TRIGGERS_SQL="SELECT COUNT(*) FROM information_schema.TRIGGERS WHERE TRIGGER_SCHEMA='${DB}'"
        TRIGGERS_COMMAND="mysql $@ -Bse \"${TRIGGERS_SQL}\""
        TRIGGERS_RESULT="$(eval $TRIGGERS_COMMAND)"

        if [ "$ROUTINES_RESULT" -gt "0" ] || [ "$TRIGGERS_RESULT" -gt "0" ];
        then
                DB_LIST="${DB_LIST} ${DB}"
        fi
done

rm -rf ${DB_LIST_FILE}

mysqldump --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} --skip-opt --no-data --no-create-info --no-create-db --triggers --routines --databases $DB_LIST $@
