#!/bin/bash

if [ $# -lt 2 ]; then
	echo "Usage: $0 /path/to/storage DATE_FORMAT"
	echo "For example: $0 /root/lock-monitoring %H.%M"
	exit 1
fi

STORAGE_PATH=$1
DATE_FORMAT=$2

mkdir -p $STORAGE_PATH

FILE=$STORAGE_PATH/$(date +${DATE_FORMAT}).txt

# Determine innodb_lock_waits implementation in this version of MySQL
# Traditional_mysql (1) is MariaDB and older versions of MySQL
# No traditional mysql (0) is MySQL/Percona Server 8.0 and onwards.
traditional_mysql=$(mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} -Be "SELECT COUNT(*) FROM information_schema.tables WHERE table_schema='information_schema' AND table_name='innodb_lock_waits'" | grep -v grep)

echo "Querying locked transactions" > $FILE

if [ "$traditional_mysql" = 1 ]; then
	mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} -B <<< "
		SELECT r.trx_id waiting_trx_id,
			   r.trx_mysql_thread_id waiting_thread,
			   r.trx_query waiting_query,
			   b.trx_id blocking_trx_id,
			   b.trx_mysql_thread_id blocking_thread,
			   b.trx_query blocking_query
		FROM information_schema.innodb_lock_waits w
		INNER JOIN information_schema.innodb_trx b ON b.trx_id = w.blocking_trx_id
		INNER JOIN information_schema.innodb_trx r ON r.trx_id = w.requesting_trx_id;
		" >> $FILE
else
	mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} -B <<< "
		SELECT r.trx_id waiting_trx_id,
			   r.trx_mysql_thread_id waiting_thread,
			   r.trx_query waiting_query,
			   b.trx_id blocking_trx_id,
			   b.trx_mysql_thread_id blocking_thread,
			   b.trx_query blocking_query
		FROM performance_schema.data_lock_waits w
		INNER JOIN information_schema.innodb_trx b ON b.trx_id = w.BLOCKING_ENGINE_TRANSACTION_ID
		INNER JOIN information_schema.innodb_trx r ON r.trx_id = w.REQUESTING_ENGINE_TRANSACTION_ID;
		" >> $FILE
fi

printf "\nEnd of locks\n----------------------------------------------------------------------------------\nProcesslist:\n" >> $FILE

mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} -Be "SHOW FULL PROCESSLIST" >> $FILE
