#!/bin/bash

echo "Changing procedure schema character set and collation"
mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} {{ dba_toolkit_mysql_init_command }} {{ dba_toolkit_install_procedures_schema }} -e "CREATE DATABASE IF NOT EXISTS \`{{ dba_toolkit_install_procedures_schema }}\` CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci"
mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} {{ dba_toolkit_mysql_init_command }} {{ dba_toolkit_install_procedures_schema }} -e "ALTER DATABASE \`{{ dba_toolkit_install_procedures_schema }}\` CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci"

echo "Installing stored procedures"
{% for procedure in dba_toolkit_deploy_procedures %}
echo "Installing {{ procedure | basename }}"
mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} {{ dba_toolkit_mysql_init_command }} {{ dba_toolkit_install_procedures_schema }} < {{ dba_toolkit_deploy_path }}/{{ procedure | basename }}
{% endfor %}

echo "Installing templated stored procedures"
{% for procedure in dba_toolkit_deploy_procedure_templates %}
echo "Installing {{ procedure | basename }}"
mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} {{ dba_toolkit_mysql_init_command }} {{ dba_toolkit_install_procedures_schema }} < {{ dba_toolkit_deploy_path }}/{{ (procedure | basename)[:-3] }}
{% endfor %}

echo "Done! Feedbacks and re-contribution of your changes is appreciated: https://gitlab.com/de-groot-consultancy-ansible-roles/dba-toolkit"
