# Ansible: {{ item.script }}-{{ item.name | default(item.args | default([]) | join(' ')) }}
# Calling {{ item.script }} with arguments: {{ item.args | default([]) | join (' ' ) }}
# timing: {{ item.timing | default('@hourly') }}
PATH={{ item.path | default(dba_toolkit_cron_path) }}
{{ item.timing | default('@hourly') }} {{ item.user | default(dba_toolkit_cron_user) }} {{ dba_toolkit_deploy_path }}/{{ item.script }}{% for arg in item.args | default([]) %} {{ arg | regex_replace('%', '\\%') | quote }}{% endfor %}
