#!/bin/bash

if $ARGC -lt 2; then
        echo "Usage: $0 <schema> <table>"
        exit 1
fi

view_schema="$ARGV[1]"
view_table="$ARGV[2]"

# Replication does not convert the storage engine of tables that are created after setting up the BLACKHOLE replication initially.
# Therefore, just converting all new (or changed) tables to BLACKHOLE should fix any replication errors.
mysql --defaults-file={{ dba_toolkit_mysql_defaults_file | quote }} --user={{ dba_toolkit_mysql_login_user | quote }} {{ dba_toolkit_install_procedures_schema }} -e "CALL refresh_materialized_view('${view_schema}', '${view_table}');"
