DELIMITER ;

DROP FUNCTION IF EXISTS _get_next_rename_table;
DROP PROCEDURE IF EXISTS rename_database;

DELIMITER //

CREATE FUNCTION `_get_next_rename_table`(_source_schema_name VARCHAR(64), _target_schema_name VARCHAR(64), _sequence_number INT) RETURNS char(255) CHARSET latin1
    DETERMINISTIC
    RETURN (SELECT CONCAT("RENAME TABLE `", _source_schema_name, "`.`", table_name, "` TO `", _target_schema_name, "`.`", table_name, "`") AS rename_table_statement  FROM information_schema.tables WHERE table_schema=_source_schema_name COLLATE {{ dba_toolkit_metadata_collation }} AND table_type='BASE TABLE' LIMIT _sequence_number, 1)
//

CREATE PROCEDURE rename_database(IN _source_schema_name VARCHAR(64), IN _target_schema_name VARCHAR(64), IN _execute TINYINT)
BEGIN

DECLARE _table_sequence INT;
DECLARE _rename_table_query VARCHAR(255);
DECLARE _create_db_query VARCHAR(255);


SELECT IF(_execute, "Running in EXECUTE mode, renaming the tables as requested", "Running in CHECK mode, not renaming any tables") AS status;

SET _table_sequence = 0;

IF (_execute) THEN
    SELECT CONCAT("CREATE DATABASE `", _target_schema_name, "`") INTO _create_db_query;
    PREPARE create_db FROM _create_db_query;
    EXECUTE create_db;
    SELECT "Created the target schema" AS status;
ELSE
    SELECT "Not creating target schema" AS status;
END IF;

_rename_table_loop: LOOP
    SELECT _get_next_rename_table(_source_schema_name, _target_schema_name, _table_sequence) INTO _rename_table_query;
    IF (_rename_table_query IS NULL) THEN
        LEAVE _rename_table_loop;
    END IF;
    IF (_execute) THEN
        SELECT CONCAT("Renaming table: ", _rename_table_query) AS status;
        PREPARE rename_table FROM _rename_table_query;
        EXECUTE rename_table;
        SELECT "Sleeping 5 seconds for the system to catch up..." AS status;
        SELECT sleep(5) into @nowhere;
    ELSE
        SELECT CONCAT("Not renaming table: ", _rename_table_query) AS status;
        SET _table_sequence = _table_sequence + 1;
    END IF;
END LOOP;

SELECT "Done, renamed all the tables. Please note that VIEWS, ROUTINES and FUNCTIONS must be moved manually. Also the source schema has not yet been dropped." AS status;

END//

DELIMITER ;

