
DELIMITER ;

DROP FUNCTION IF EXISTS _get_next_drop_referencing_constraint;
DROP PROCEDURE IF EXISTS drop_table_with_referencing_constraints;
DROP PROCEDURE IF EXISTS _drop_table_wildcard_prepare;
DROP PROCEDURE IF EXISTS _drop_table_wildcard_perform_drops_from_view;
DROP PROCEDURE IF EXISTS drop_table_wildcard;


DELIMITER //

CREATE FUNCTION `_get_next_drop_referencing_constraint`(_schema_name VARCHAR(64), _table_name VARCHAR(64), _sequence_number INT) RETURNS char(255) CHARSET latin1
    DETERMINISTIC
    RETURN (SELECT CONCAT("ALTER TABLE `", constraint_schema, "`.`", table_name, "` DROP CONSTRAINT `", constraint_name, "`") AS alter_statement  FROM information_schema.referential_constraints WHERE UNIQUE_CONSTRAINT_SCHEMA=_schema_name COLLATE {{ dba_toolkit_metadata_collation }} AND referenced_table_name=_table_name COLLATE utf8_unicode_ci LIMIT _sequence_number, 1)
//

CREATE PROCEDURE drop_table_with_referencing_constraints(IN _schema_name VARCHAR(64), IN _table_name VARCHAR(64), IN _execute TINYINT)
BEGIN

DECLARE _constraint_sequence INT;
DECLARE _alter_query VARCHAR(255);
DECLARE _drop_query VARCHAR(255);

SELECT IF(_execute, "Running in EXECUTE mode, dropping the table as requested", "Running in CHECK mode, not dropping the table") AS status;

SET _constraint_sequence = 0;

_alter_loop: LOOP
    SELECT _get_next_drop_referencing_constraint(_schema_name, _table_name, _constraint_sequence) INTO _alter_query;
    IF (_alter_query IS NULL) THEN
        LEAVE _alter_loop;
    END IF;
    IF (_execute) THEN
        SELECT CONCAT("Dropping constraint: ", _alter_query) AS status;
        PREPARE drop_constraint FROM _alter_query;
        EXECUTE drop_constraint;
        SELECT "Sleeping 5 seconds for the system to catch up..." AS status;
        SELECT sleep(5) into @nowhere;
    ELSE
        SELECT CONCAT("Not droppping constraint: ", _alter_query) AS status;
        SET _constraint_sequence = _constraint_sequence + 1;
    END IF;
END LOOP;
    
SELECT CONCAT("DROP TABLE `", _schema_name, "`.`", _table_name, "`") INTO _drop_query;
IF (_execute) THEN
    SELECT CONCAT("Dropping table: ", _drop_query) AS status;
    PREPARE drop_table FROM _drop_query;
    EXECUTE drop_table;
    SELECT "Done, dropped the table and it's incoming referential constraints" AS status;
ELSE
    SELECT CONCAT("Not dropping table: ", _drop_query) AS status;
END IF;

END//

CREATE PROCEDURE _drop_table_wildcard_perform_drops_from_view(IN _execute TINYINT)
BEGIN

DECLARE _done INT DEFAULT FALSE;
DECLARE _table_schema VARCHAR(64);
DECLARE _table_name VARCHAR(64);
DECLARE _cur1 CURSOR FOR SELECT * FROM _tmp_drop_table_wildcard_view;
DECLARE CONTINUE HANDLER FOR NOT FOUND SET _done=TRUE;

OPEN _cur1;
read_loop: LOOP
    FETCH _cur1 INTO _table_schema, _table_name;
    IF (_done) THEN
    	LEAVE read_loop;
    END IF;
    CALL drop_table_with_referencing_constraints(_table_schema, _table_name, _execute);
END LOOP;

SELECT "Done, droppping the view to clean up." AS status;
DROP VIEW IF EXISTS _tmp_drop_table_wildcard_view;

END;
//


CREATE PROCEDURE _drop_table_wildcard_prepare(IN _table_schema_wildcard VARCHAR(64), IN _table_name_wildcard VARCHAR(64), IN _minimum_age_seconds INT)
BEGIN

DECLARE _create_view_query VARCHAR(255);

DROP VIEW IF EXISTS _tmp_drop_table_wildcard_view;

SET _create_view_query = CONCAT('CREATE VIEW _tmp_drop_table_wildcard_view AS SELECT table_schema, table_name FROM information_schema.tables WHERE table_schema LIKE "', _table_schema_wildcard, '" AND table_name LIKE "', _table_name_wildcard, '" AND create_time < FROM_UNIXTIME(UNIX_TIMESTAMP() - ', _minimum_age_seconds, ')');

SELECT CONCAT("Creating a view to loop through the tables later: ", _create_view_query) AS status;
PREPARE create_view_statement FROM _create_view_query;
EXECUTE create_view_statement; 	

END //


CREATE PROCEDURE drop_table_wildcard(IN _table_schema_wildcard VARCHAR(64), IN _table_name_wildcard VARCHAR(64), IN _minimum_age_seconds INT, IN _execute TINYINT)
BEGIN 

SELECT IF(_execute, "Running in EXECUTE mode, all tables that match will be dropped", "Running in CHECK mode, no tables will be dropped") AS status;

CALL _drop_table_wildcard_prepare(_table_schema_wildcard, _table_name_wildcard, _minimum_age_seconds);
CALL _drop_table_wildcard_perform_drops_from_view(_execute);

END //

DELIMITER ;
